*{
  // font-family: 'microsoft yahei';
}

a{
  color: #4078c0;
  text-decoration: none;
}
.app-container{

}
.module-container{
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.mdl-button .fa{
  font-size: 20px;
}
.ace_content,.ace_text{
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.mdl-layout__header{
  display: block;
}
.mdl-card__title-text{
  font-family: 'microsoft yahei';
  
}