.form{
  max-width: 300px;
  margin: 2em auto;
}
.message{
  text-align: center;
  margin: 0 auto;
  .messageInner{
    display: inline-block;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    max-width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f2dede;
  }
}